<ion-header>
  <ion-toolbar>
    <ion-title>Enter Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <br>
        <ion-item>
    <ion-label class="dlabel" position="floating">Name</ion-label>
    <br><ion-input type="text" [(ngModel)]="name" color="tertiary"></ion-input>
    </ion-item>



        <span class="divider line one-line">or</span>

        <span class="already">Already a user?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
